<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>App</title>
  <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">

<!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

  <!-- Mine -->

</head>

<body>

  <form id="msg_form">
    <input type="text" name="msg" placeholder="message" id="ipmsg">
    <button>Send</button>
  </form>

  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

   <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
       $(function () {
            var socket = io();
            $('form').submit(function(){
            socket.emit('sendmsg', $('#ipmsg').val());
            $('#ipmsg').val('');
            return false;
            });

            socket.on('msg',(message)=>{
              console.log(message);
            })
        });
    </script>

</body>

</html>
