<% include ./header %>

<div class="container">
	<br><br>
    <h2 style="text-align:center;">Project List</h2>
    <br>
    <div class="row">
      <div class="col-lg-6 col-md-10 mx-auto">

      	<% for(var i=0; i < projectNames.length; i++) { %>
		<ul class="list-group">
		  <li class="list-group-item">
		  		<%= i+1 %> .
			  <a href="/project/fullprojectview/<%= projectNames[i]._id %>"> <%= projectNames[i].name %> 
			  </a>
		  </li>
		</ul>
		<% } %>
	</div>
	</div>
</div>


<% include ./footer %>