<% include ./header %>

<div class="container">
	<br><br>
    <h2 style="text-align:center;">Sprint Create</h2>
    <br>
    <div class="row">
      <div class="col-lg-4 col-md-10 mx-auto">

        <form method="POST" action="/issue/create">
          

          <div class="md-form">
            <input type="text" id="name" class="form-control">
            <label for="name">Name</label>
          </div>


          <div class="md-form">
            <input placeholder="Selected date" type="date" id="startdate" class="form-control">
            <label for="startdate">Start Date</label>
          </div>

          <div class="md-form">
            <input placeholder="Selected date" type="date" id="enddate" class="form-control">
            <label for="enddate">End Date</label>
          </div>

          <div class="md-form">
            <textarea id="goal" name="goal" class="md-textarea form-control" rows="3"></textarea>
            <label for="goal">Goal</label>
          </div>


          <div class="md-form">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <% include ./footer %>